<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <meta http-equiv="X-UA-Compatible" content="ie=edge" />
    <link
      href="https://fonts.googleapis.com/css?family=Open+Sans&display=swap"
      rel="stylesheet"
    />
    <style>
      * {
        font-family: "Open Sans", sans-serif;
      }
      body {
        margin-left: 50px;
        margin-right: 50px;
      }
      .header {
        text-align: center;
        border-bottom: 1px solid #999;
        margin: 0;
      }
      .header h3 {
        color: #666;
        line-height: 13px;
      }
      .content {
        padding-left: 10px;
      }
      .content div {
        margin-bottom: 20px;
      }
      .list li {
        list-style: none;
      }
      /* .inline {
        display: flex;
      } */
      .inline li {
        display: inline;
        padding: 5px 10px;
        /* color: #2196f3; */

        line-height: 45px;
      }
      .inline li::after {
        content: ",";
      }
      .content h2 {
        color: #000;
        font-weight: bolder;
      }
      .work {
        /* margin-left: 5px; */
        text-decoration: underline;
      }
      .links a {
        font-size: large;
      }
      a {
        text-decoration: underline;
        color: #2196f3;
      }
      * {
        margin-top: 10px;
        margin-bottom: 10px;
      }
    </style>
    <title>Ibrahim Mohamed</title>
  </head>
  <body>
    <div class="header">
      <h2>Ibrahim Mohamed</h2>
      <h3>Location: Hassan Mohamed Street - Haram - Giza - Egypt</h3>
      <h3>Phone: <a href="tel:+201063911837">+201063911837</a></h3>
      <h3>
        Email:
        <a href="mailto:irarajab@yandex.com">
          irarajab@yandex.com
        </a>
      </h3>
      <h3>
        LinkedIn:
      <a href="https://www.linkedin.com/in/ibrahim-mohamed-581b39167/">
        Ibrahim Mohamed
      </a>
      </h3>
      <h3>
        HackerRank:
      <a href="https://www.hackerrank.com/rajabhima2?hr_r=1">
        @rajabhima2
      </a>
      </h3>

      <h3>
        Portfolio:
      <a href="http://imohamed.pythonanywhere.com/">
        Portfolio
      </a>
      </h3>


      <h3>Github: 
        <a href="https://github.com/himarajab">
          github
        </a>
        </h3>
    </div>
    <div class="content">
      
      <h2>Professional Summary:</h2> 
      <p>
        I am a software engineer, I am frameworks and technology independent, I keep my skills updated and learn Modern technologies,  with experience in backend development and basics of the front end.
      </p>
      
      <h2>Work Experience:</h2>
      
      <div>
        <ul class="list">
          <p >
            ordarawy Market 3-2020 until 6-2021  Software Engineer 
          </p>
          <p>
            On Going 7-2021 until 6-2022  Python Developer 
          </p>
          <p>
            Spectrum 6-2022 until Now  Python Developer 
          </p>
  
        
    </ul>
      </div>

      <h2>Some of the work I was a member of:</h2>

      <h3 class="work">Ordarawy Market</h3>
      <div class="links">
        <a href="https://play.google.com/store/apps/details?id=com.ordar.ordarawy_market&hl=en&gl=US">
          Android
        </a>
        <a href="https://apps.apple.com/us/app/ordarawy/id1524196823">
          IOS
        </a>
      </div>

      <p>
        <li >
          do requirements analysis
        </li>
        <li >
          Created RestFull APIS with better performance 
        </li>
        <li >
         Developed service to determine the cost for customers based on their locations 
        </li>
        <li>
        create a service to check whether user address in the available zone we define
        use Postgres to retrieve data from the database to overcome the slow response of data retrieved from odoo 
      </li>
      <li>
        combine data retrieved from Postgres and odoo and serialize this data to be used with flutter
      </li>
      <li>
        deploy the project with Nginx on VPS
      </li>
    </p>
      <h3>Technology I used:</h3>
      <ul class="list inline">
        <li>Python3 </li>
        <li>Odoo </li>
        <li>Fast API</li>
        <li>PostgreSQL</li>
      </ul>
      <h3 class="work">shipping</h3>
      <div class="links">
        <a href="http://shipping.ordarawy.com/">
          Website
          </a>
      </div>
      <p>
        an inventory management system that handles products quantities and prices calculation and order status according to delivery 
      </p>
      <h3>Technology I used:</h3>
      <ul class="list inline">
        <li>Django</li>
        <li>Java script</li>
        <li>Odoo</li>
        <li>bootstrab</li>
      </ul>
      
      <div class="links">
        <a href="https://ongoing-co.com/">
          ongoing
        </a>
      </div>
      <p>
        <li >
         do  requirments anylsis
        </li>
        <li >
        Developed custom modules to automate HR-related  tasks 
        </li>
        <li >
          Deployed Projects and take care of security concerns
        </li>
      </p>
      <h3>Technology I used:</h3>
      <ul class="list inline">
        <li>XML</li>
        <li>Odoo</li>
        <li>bootstrab</li>
        <li>Git</li>
      </ul>


      <div class="links">
        <a href="https://sys-spectrum.com/">
          Spectrum
        </a>
      </div>
      <p>
        <li >
          do  requirments anylsis
        </li>
        <li >
         Developed custom modules to automate Accountant related tasks 
        </li>
        <li >
          create finatial reports 
          <li >
            Deployed Projects and take care of security concerns
          </li>
        </li>
        <li >
          Participate in technical decisions related to Company's Techincal Stack
      </li>
      </p>
      <h3>Technology I used:</h3>
      <ul class="list inline">
        <li>XML</li>
        <li>Odoo</li>
        <li>bootstrab</li>
        <li>Git</li>
      </ul>

      <h3 class="work">e-commerce application</h3>
      <div class="links">
        hadn't been release yet
      </div>
      <li>
        participate with the business team
      </li>
      <li>
      
        custom authentication: create a custom OTP that allows only verified users to use the application 
        </li>
        <li>
          cart: handle calculating products in cart prices and quantities and order total value   
        </li>
        <li>
          wallet: allow users to pay with their wallet whether the partial or total value
          </li>
          <li>
            canceling an order: update products quantities and update user wallet if it was used 
            </li>
            <li>
              send real-time notifications when an order is created successfully
              </li>
              <li>
                participate in the deployment process on AWS 
                </li>
      
      <h3>Technology I used:</h3>
      <ul class="list inline">
        <li>Python</li>
        <li>Django Rest Framework</li>
        <li>Postgresql</li>
        <li>Heroku</li>
        <li>Firebase</li>
        <li>Git</li>
        <li>trello</li>
      </ul>
      
     

      <h3 class="work">Some open-source projects</h3>
      
      <div class="links inline">

        
        <a href="https://github.com/himarajab/my-blog">
          Blog
        </a>
        
        <p>
          Blog in django and integrate with it javascript and pytest 
        </p>


        <a href="https://github.com/himarajab/pytest-django">
          pytest-django
        </a>

        <p>
          a simple classroom project to practice using Django Rest Framework 
          and testing using Django Test Case and Pytest
        </p>
        
        <a href="https://github.com/himarajab/pycasts">
          pycasts
        </a>

        <p>
          a content aggreagation for podcasts using Django Rest Framework 
          and celery and use sphnix for documentation 
        </p>

      </div>


      <h3 class="work">proficiency SKills</h3>
      
      <h5>Skill Level: Professional</h5>
      <ul class="list inline">
        <li>Python</li>
        <li>Django</li>
        <li>Odoo</li>
        <li>API development</li>
        <li>Django Rest Framework</li>
        <li>communication,effective listening and a strong collaborative attitude.</li>
      </ul>
      
      <h5>Skill Level: Intermediate</h5>
      <ul class="list inline">
        <li>Nginx</li>
        <li>Postgresql</li>
        <li>Mysql</li>
        <li>Ability to document technical processes to promote bi-directional knowledge transfer within a team environment.</li>
        <li>TDD(Pytest,factory boy)</li>
        <li>Linux Server</li>
        <li>Git</li>
        <li>Debugging</li>
        <li>fast API</li>
      </ul>
      
      <h5>Skill Level: basics</h5>
      <ul class="list inline">
        <li>Bootstrab4</li>
        <li>docker</li>
        <li>Firebase</li>
        <li>Celery</li>
        <li>XML</li>
        <li>Java Script (React)</li>
      </ul>


      <h3 class="work">Education:</h3>
      <p>Bachelor degree in information technology </p>

      <h3 class="work">Miltary Service :</h3>
      <p>Finished </p> 

      <h3 class="work">Languages</h3>
      <ul class="list inline">
        <li>Arabic: Native</li>
        <li>English: Upper intermediate</li>
      </ul>

    </div>

  </body>
</html>
